@tailwind base;
@tailwind components;
@tailwind utilities;

.home-bg {
    background: url("../img/header.png") no-repeat;
}
.app-top-bg {
    background: url("../img/header_2.png") no-repeat;
}

.footer-bg {
    background: url("../img/footer.png") no-repeat;
}

.hexagon-wrapper{
    width: 48px;
    height: 48px;
}
.hexagon {
    position: relative;
    width: 50%;
    height: 80%;
    transition: 0.5s;
}

.hexagon:before,
.hexagon:after {
    position: absolute;
    content: "";
    background: inherit;
    height: 100%;
    width: 100%;
    border-radius: 0;
    transition: 0.5s;
    transform-origin: center;
}
.hexagon:before {
    transform: rotateZ(60deg);
}
.hexagon:after {
    transform: rotateZ(-60deg);
}

.line-before-hexagon-small {
    position: relative;
}

.line-before-hexagon {
    position: relative;
    -webkit-transform: skew(29deg);
    -moz-transform: skew(29deg);
    -o-transform: skew(29deg);
}


